<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageCompositionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49791/ImageComposition.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageCompositionService"
                contract="CloudComposition.IImageCompositionService" name="BasicHttpBinding_IImageCompositionService" />
        </client>
    </system.serviceModel>
</configuration>