<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BinaryCompressionBinding">
                    <binaryMessageEncoding compressionFormat="GZip" />
                    <httpTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                        maxBufferSize="2147483647" />
                </binding>
                <binding name="cloudComp">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49791/ImageComposition.svc"
                binding="customBinding" bindingConfiguration="BinaryCompressionBinding" contract="CloudComposition.IImageCompositionService"
                name="cloudComp" />
        </client>
    </system.serviceModel>
</configuration>