<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.14.3-build00177" targetFramework="wp81" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.14.3-build00177" targetFramework="wp81" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="0.14.3-build00177" targetFramework="wp81" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wp81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wp81" />
  <package id="MockIAPLib" version="1.0.0.1" targetFramework="wp81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wp81" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.8.16" targetFramework="wp81" />
  <package id="WriteableBitmapEx" version="1.5.0" targetFramework="wp81" />
</packages>