<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'InfoViewApp.WP81WP81' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>8240d723-c08b-4d55-8c18-62cbe3c35157</InstrumentationKey>
</ApplicationInsights>